@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
    

}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
 
body, html{
    margin: 0;
}

#head{
    
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    background-color:#0C2C43 ;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 3px solid #3D6B63;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    
}
#head i{
    display: none;
    color: #ffffff;
}
#head img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
#head #menu ul{
    display: flex;
    margin-right: 360px;
    margin-top: 35px;
}
#head #menu ul li a{
    font-size: 16px;
    margin-right: 25px;
    color: #ffffff;

}
#head #menu ul li a:hover{
    background-color: #3D6B63;
    padding: 5px;
    border-radius: 15px;
}
#head #menu ul li a:active{
    background-color: #3D6B63;
    padding: 5px;
    border-radius: 15px;
}
.container{
    margin-top: 90px;
}
.container #hero{
    background-image: url("../images/llustration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-left: 5%;
   padding-top: 6%;
   /* z-index: -1; */
    height: 600px;
    width: 100%;
    line-height: 1.2;
    

}
/* .container #hero .content{
    margin-right: ;
} */
.container #hero h1{
    color: #ffffff;
    font-size: 2.7rem;
    width: 58%;
    font-weight: 700;
}
.container #hero h1 span{
    font-size: 2.7rem;
    width: 45%;
    font-weight: 700;
    color: #3D6B63;
    position: relative;
    bottom: 32px;
}
.container #hero p{
   color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    bottom: 40px;
}
.container #hero button{
    width: 125px;
    height: 40px;
    font-size: 0.8rem;
    background-color: #3D6B63;
    border: 2px solid #3D6B63;
    border-radius: 8px;
    color: #ffffff;
}

#service{
    margin-left: 10%;
    margin-right: 10%;
}
#service h1{
    font-size: 2.5rem;
    color: #3D6B63;
    text-align: center;
    font-weight: bold;
}
#service h1 span{
    color: #80A470;
}
#service .services{
    display: flex;
    justify-content: center;
}
#service .item{
    
    border: 1px solid #0c2c4342;
    border-radius: 25px;
    width: 21%;
    margin-left: 35px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#service .item img{
    width: 100%;
}
#service .item h2{
    text-align: center;
    font-size: 0.9rem;
    color: #0C2C43;
    font-weight: 800;
    width: 100%;
}

#service .item p{
    font-size: 0.8rem;
    width: 100%;
    
    
    color: #284F54;
}


#apropo h1{
    font-size: 2.5rem;
    color: #3D6B63;
    text-align: center;
    font-weight: bold; 
}
#apropo  h1 span{
    color: #80A470;
}

#apropo .conten{
    display: flex;
    justify-content: center;
    background-color: #38586c0c;
    padding-top: 100px;
    padding-bottom: 100px;
}
#apropo .conten img{
    width: 35%;
    border-radius: 15px;
    margin-right: 10px;
}
#apropo .conten  p{
    width: 32%;
    font-size: 20px;
    margin-left: 10px;
    line-height: 1.7;
    position: relative;
    bottom: 20px;
    color: #284F54;
}

#client h1{
    font-size: 2.5rem;
    color: #3D6B63;
    text-align: center;
    font-weight: bold; 
}
#client  h1 span{
    color: #80A470;
}
#client .nos{
    display: flex;
    justify-content: center;
}
#client .clients{
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #0c2c4342;
    border-radius: 25px;
    width: 18%;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#client .clients img{
    width: 100px;
}
#client .clients p{
     width: 100%;
     text-align: left;
   /* margin-left: auto;
    margin-right: auto; */
    color: #38586C;
    font-size: 12px;
}
#client .clients h2{
    font-size: 20px;
    color: #3D6B63;
}

#contact h1{
    font-size: 2.5rem;
    color: #3D6B63;
    text-align: center;
    font-weight: bold; 
}
#contact  h1 span{
    color: #80A470;
}

#contact .info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
   
   
   
}

#contact .info .element{
    width: 13%;  
    height: 130px;
    margin-right: 10px;
    border: 1px solid #0c2c4310;
    text-align: center;
    box-shadow: 5px 5px 3px #38586c48;
    padding-top: 10px;
}

#contact .info .element img{
    width: 18%;
}
#contact .info .element p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: #3D6B63;
}
#contact{
    padding-left: 5%;
    padding-right: 5%;
}

#contact .contatez{
    display: flex;
    width: 100%;
}
#contact .contatez form{
    width: 45%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
/* #contact .contatez form input::placeholder{
    padding-left: 20px;
} */
#contact .contatez form input, textarea{
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #3d6b635d;
}
#contact .contatez form label{
    font-size: 22px;
    color: #3D6B63;
}
#contact .contatez form input {
    height: 40px;
    border-radius: 5px;
}
#contact .contatez form button{
    font-size: 15px;
    color: #ffffff;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #3d6b635d;
    background-color: #3D6B63;
}

#foot {
    display: flex;
    justify-content: space-between;
    background-color: #284F54;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
}
#foot p{
    color: #ffffff;
}

#foot .icons{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
#foot .icons .twitter{
    width: 18px;
    margin-right: 30px;
    
}

/* @media only screen and (min-width: 768px) and (max-width: 991px){
    #head #menu ul{
        display: flex;
        margin-right: 60%;
        margin-top: 30px;
    }
    #head #menu ul li a{
        font-size: 20px;
        margin-right: 50%;
        color: #D9E5C4;
    } 
 }*/

 @media (max-width: 991px){
    

     #head i{
        display: block;
        cursor: pointer;
        position: relative;
        top: 15px;
        font-size: 35px;
     }
     #head .menu {
        /* display: none; */
        height: 0px;
        position: absolute;
        top: 60px;
       
        right: 0;
        width: 60vw;
        background: #0C2C43;
        transition:2s ;
        opacity: 0.9;
        overflow: hidden;
     }
     #head #menu ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        transition: 0.1s;
        opacity: 1;
     }
     #head #menu ul li {
        margin-bottom: 25px;
        color: #80A470;
     }

     #head  .menu.active{
        height: 300px;
     }

     #client .nos p{
        text-align: left ;
     }
 }

 @media (max-width:430px){
  
    #head img{ 
        width: 45px;
        height: 45px;
    }
    
    #head i{
        font-size: 30px;
        
       
        display: block;
    }
    #head{
        border-bottom: 5px solid #3D6B63;
        position: fixed;
    }
    .container{
        margin-top: 60px;
    }
    .container #hero{
        background-image: url("../images/llustration.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        padding-left: 5%;
       padding-top: 6%;
       /* z-index: -1; */
        /* height: 600px; */
        /* width: 100%; */
        line-height: 1.2;
        height: 200px;
        
    
    }

    .container #hero h1{
        
        font-size: 60%;
        width: 58%;
        font-weight: 700;
    }
    .container #hero h1 span{
        font-size: 100%;
        width: 45%;
        font-weight: 700;
        
        position: relative;
       bottom: 10px;
    }
    .container #hero p{
        
        font-size: 45%;
        font-weight: 300;
        position: relative;
        flex-wrap: wrap;
        top: 0.5px;
      
    }
    .container #hero button{
        width: 20%;
        height: 30%;
        font-size: 40%;
      
        border-radius: 8px;
        
    }

    #service .services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #service .item{
        
        border: 1px solid #0c2c4342;
        border-radius: 10px;
        width: 300px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        margin-left: 0;
        
    }

    #service h1{
        font-size: 1.8rem;
        
        text-align: center;
        font-weight: bold;
    }
    #service h1 span{
        color: #80A470;
    }
    #apropo h1{
        font-size: 1.8rem;
        
        text-align: center;
        font-weight: bold; 
    }
    #apropo  h1 span{
        color: #80A470;
    }
    
    #apropo .conten{
        display: flex;
        align-items: center;
        
        flex-direction: column;
        justify-content: center;
        background-color: #38586c0c;
        padding-top: 50px;
        padding-bottom: 20px;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    #apropo .conten img{
        width: 80%;
        border-radius: 15px;
        /* margin-right: 10px; */
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #apropo .conten  p{
        width: 80%;
        font-size: 18px;
        margin-left: 10px;
        line-height: 1.7;
        position: relative;
        bottom: 20px;
        
    }
    
    #client h1{
        font-size: 1.8rem;
        
        text-align: center;
        font-weight: bold; 
    }

    #client .clients{
        text-align: center;
        border: 1px solid #0c2c4342;
        border-radius: 25px;
        width: 70%;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #client .nos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contact h1{
        font-size: 1.8rem;
        
        text-align: center;
        font-weight: bold; 
    }
    #contact .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 40px;
       
       
       
    }

    #contact .info .element{
        width: 60%; 
        margin-bottom: 20px; 
        height: 130px;
        margin-right: 10px;
        border: 1px solid #0c2c4310;
        text-align: center;
        box-shadow: 5px 5px 3px #38586c48;
        padding-top: 10px;
    }

    #contact .contatez{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #contact .contatez form{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    #contact .contatez .map iframe{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #foot p{
        font-size: 13px;
        
    }
   
 } 
@media (min-width:431px) and (max-width: 767px){
    #head img{
        width: 45px;
        height: 45px;
    }
   
   
    #head{
        border-bottom: 5px solid #3D6B63;
        position: fixed;
    }
    .container{
        margin-top: 60px;
    }
    .container #hero{
        background-image: url("../images/llustration.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding-left: 5%;
       padding-top: 6%;
       /* z-index: -1; */
        /* height: 600px; */
        /* width: 100%; */
        line-height: 1.2;
        height: 200px;
        
        
    
    }

    .container #hero h1{
        
        font-size: 0.9rem;
        width: 58%;
        font-weight: 700;
    }
    .container #hero h1 span{
        font-size: 0.9rem;
        width: 45%;
        font-weight: 700;
        color: #3D6B63;
        position: relative;
       bottom: 10px;
    }
    .container #hero p{
        
        font-size: 0.5rem;
        font-weight: 300;
        position: relative;
       top: 1px;
    }
    .container #hero button{
        width: 80px;
        height: 30px;
        font-size: 0.5rem;
        background-color: #3D6B63;
        border: 2px solid #3D6B63;
        border-radius: 8px;
        color: #D9E5C4;
    }

    #service .services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #service .item{
      
        border: 1px solid #0c2c4342;
        border-radius: 10px;
        width: 300px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        margin-left: 0;
        
    }

    #service h1{
        font-size: 1.8rem;
        color: #3D6B63;
        text-align: center;
        font-weight: bold;
    }
    #service h1 span{
        color: #80A470;
    }
    #apropo h1{
        font-size: 1.8rem;
        color: #3D6B63;
        text-align: center;
        font-weight: bold; 
    }
    #apropo  h1 span{
        color: #80A470;
    }
    
    #apropo .conten{
        display: flex;
        align-items: center;
        
        flex-direction: column;
        justify-content: center;
        background-color: #38586c0c;
        padding-top: 50px;
        padding-bottom: 20px;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    #apropo .conten img{
        width: 80%;
        border-radius: 15px;
        /* margin-right: 10px; */
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #apropo .conten  p{
        width: 80%;
        font-size: 18px;
        margin-left: 10px;
        line-height: 1.7;
        position: relative;
        bottom: 20px;
        color: #284F54;
    }
    
    #client h1{
        font-size: 1.8rem;
        color: #3D6B63;
        text-align: center;
        font-weight: bold; 
    }

    #client .clients{
        text-align: center;
        border: 1px solid #0c2c4342;
        border-radius: 25px;
        width: 70%;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #client .nos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contact h1{
        font-size: 1.8rem;
        color: #3D6B63;
        text-align: center;
        font-weight: bold; 
    }
    #contact .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 40px;
       
       
       
    }
   
    #contact .info .element{
        width: 60%; 
        margin-bottom: 20px; 
        height: 130px;
        margin-right: 10px;
        border: 1px solid #0c2c4310;
        text-align: center;
        box-shadow: 5px 5px 3px #38586c48;
        padding-top: 10px;
    }
    #contact .info .element img{
        width: 18%;
    }
    #contact .info .element p{
        position: relative;
        bottom: 18px;
    }
    #contact .info .element .mail{
        position: relative;
        right: 30px;
    }

    #contact .contatez{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #contact .contatez form{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    #contact .contatez .map iframe{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #foot p{
        font-size: 13px;
        color: #D9E5C4;
    }
    }

    @media (min-width:768px) and (max-width: 991px){
        #head img{
            width: 45px;
            height: 45px;
        }
      
        #head{
            border-bottom: 5px solid #3D6B63;
            position: fixed;
        }
        .container{
            margin-top: 60px;
        }
        .container #hero{
            background-image: url("../images/llustration.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding-left: 5%;
           padding-top: 6%;
           /* z-index: -1; */
            /* height: 600px; */
            /* width: 100%; */
            line-height: 1.2;
            height: 400px;
            
            
        
        }
    
        .container #hero h1{
            
            font-size: 1.2rem;
            width: 58%;
            font-weight: 700;
        }
        .container #hero h1 span{
            font-size: 1.2rem;
            width: 45%;
            font-weight: 700;
            color: #3D6B63;
            position: relative;
           bottom: 10px;
        }
        .container #hero p{
            
            font-size: 0.8rem;
            font-weight: 300;
            position: relative;
           top: 1px;
        }
        .container #hero button{
            width: 90px;
            height: 30px;
            font-size: 0.5rem;
            background-color: #3D6B63;
            border: 2px solid #3D6B63;
            border-radius: 8px;
            color: #D9E5C4;
        }
    
        #service .services{
            /* display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center; */

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
            
        }
    
        #service .item{
           
            border: 1px solid #0c2c4342;
            border-radius: 10px;
            width: 300px;
            margin-bottom: 20px;
            padding-bottom: 30px;
            margin-left: 0;
            
        }
    
        #service h1{
            font-size: 1.8rem;
            color: #3D6B63;
            text-align: center;
            font-weight: bold;
        }
        #service h1 span{
            color: #80A470;
        }
        #apropo h1{
            font-size: 1.8rem;
            color: #3D6B63;
            text-align: center;
            font-weight: bold; 
        }
        #apropo  h1 span{
            color: #80A470;
        }
        
        #apropo .conten{
            display: flex;
            align-items: center;
            
            flex-direction: column;
            justify-content: center;
            background-color: #38586c0c;
            padding-top: 50px;
            padding-bottom: 20px;
            align-items: center;
            padding-left: 5%;
            padding-right: 5%;
        }
        #apropo .conten img{
            width: 80%;
            border-radius: 15px;
            /* margin-right: 10px; */
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        #apropo .conten  p{
            width: 80%;
            font-size: 18px;
            margin-left: 10px;
            line-height: 1.7;
            position: relative;
            bottom: 20px;
            color: #284F54;
        }
        
        #client h1{
            font-size: 1.8rem;
            color: #3D6B63;
            text-align: center;
            font-weight: bold; 
        }
    
        #client .clients{
            text-align: center;
            border: 1px solid #0c2c4342;
            border-radius: 25px;
            width: 70%;
            margin-left: 0px;
            padding-top: 10px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        #client .nos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #contact h1{
            font-size: 1.8rem;
            color: #3D6B63;
            text-align: center;
            font-weight: bold; 
        }
        #contact .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 40px;
           
           
           
        }
       
        #contact .info .element{
            width: 60%; 
            margin-bottom: 20px; 
            height: 170px;
            margin-right: 10px;
            border: 1px solid #0c2c4310;
            text-align: center;
            box-shadow: 5px 5px 3px #38586c48;
            padding-top: 10px;
        }
        #contact .info .element img{
            width: 14%;
        }
        #contact .info .element p{
            position: relative;
            bottom:13px;
        }
        #contact .info .element.icns{
            width: 5%;
        }
        #contact .info .element .mail{
            position: relative;
            right: 55px;
        }
    
        #contact .contatez{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        #contact .contatez form{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
        #contact .contatez .map iframe{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    
        #foot p{
            font-size: 13px;
            color: #D9E5C4;
        }
        }


        @media (min-width:992px) and (max-width: 1199px){
            #head{
    
                padding-left: 5%;
                padding-right: 5%;
                margin: 0;
                background-color:#0C2C43 ;
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: 3px solid #3D6B63;
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 1000;
                
            }
            #head i{
                display: none;
            }
            #head img{
                width: 70px;
                height: 70px;
                margin-top: 10px;
            }
            #head #menu ul{
                display: flex;
                margin-right: 200px;
                margin-top: 30px;
            }
            #head #menu ul li a{
                font-size: 16px;
                margin-right: 25px;
               
            }
            .container{
                margin-top: 90px;
            }
            .container #hero{
                background-image: url("../images/llustration.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0;
                padding-left: 5%;
               padding-top: 6%;
               /* z-index: -1; */
                height: 600px;
                width: 100%;
                line-height: 1.2;
                
            
            }
            /* .container #hero .content{
                margin-right: ;
            } */
            .container #hero h1{
                
                font-size: 2.7rem;
                width: 58%;
                font-weight: 700;
            }
            .container #hero h1 span{
                font-size: 2.7rem;
                width: 45%;
                font-weight: 700;
                color: #3D6B63;
                position: relative;
                bottom: 32px;
            }
            .container #hero p{
                
                font-size: 1rem;
                font-weight: 300;
                position: relative;
                bottom: 40px;
            }
            .container #hero button{
                
                font-size: 0.8rem;
                background-color: #3D6B63;
                border: 2px solid #3D6B63;
                border-radius: 8px;
                
            }
            
            #service{
                margin-left: 10%;
                margin-right: 10%;
            }
            #service h1{
                font-size: 2.5rem;
                color: #3D6B63;
                text-align: center;
                font-weight: bold;
            }
            #service h1 span{
                color: #80A470;
            }
            #service .services{
                display: flex;
                justify-content: center;
            }
            #service .item{
                
                border: 1px solid #0c2c4342;
                border-radius: 25px;
                width: 21%;
                margin-left: 35px;
                padding-bottom: 30px;
                
            }
            #service .item img{
                width: 60%;
            }
            #service .item h2{
                font-size: 0.9rem;
                color: #0C2C43;
                font-weight: 800;
                text-align: center;
            }
            
            #service .item p{
                font-size: 0.8rem;
                width: 80%;
                
                margin-left: auto;
                margin-right: auto;
                color: #284F54;
            }
            
            
            #apropo h1{
                font-size: 2.5rem;
                color: #3D6B63;
                text-align: center;
                font-weight: bold; 
            }
            #apropo  h1 span{
                color: #80A470;
            }
            
            #apropo .conten{
                display: flex;
                justify-content: center;
                background-color: #38586c0c;
                padding-top: 100px;
                padding-bottom: 100px;
            }
            #apropo .conten img{
                width: 35%;
                border-radius: 15px;
                margin-right: 10px;
            }
            #apropo .conten  p{
                width: 32%;
                font-size: 20px;
                margin-left: 10px;
                line-height: 1.7;
                position: relative;
                bottom: 20px;
                color: #284F54;
            }
            
            #client h1{
                font-size: 2.5rem;
                color: #3D6B63;
                text-align: center;
                font-weight: bold; 
            }
            #client  h1 span{
                color: #80A470;
            }
            #client .nos{
                display: flex;
                justify-content: center;
            }
            #client .clients{
                text-align: center;
                border: 1px solid #0c2c4342;
                border-radius: 25px;
                width: 20%;
                margin-left: 30px;
                padding-top: 10px;
                padding-bottom: 20px;
            }
            
            #client .clients img{
                width: 100px;
            }
            #client .clients p{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                color: #38586C;
                font-size: 12px;
            }
            #client .clients h2{
                font-size: 15px;
                color: #3D6B63;
            }
            
            #contact h1{
                font-size: 2.5rem;
                color: #3D6B63;
                text-align: center;
                font-weight: bold; 
            }
            #contact  h1 span{
                color: #80A470;
            }
            
            #contact .info{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-bottom: 40px;
               
               
               
            }
            
            #contact .info .element{
                width: 13%;  
                height: 115px;
                margin-right: 10px;
                border: 1px solid #0c2c4310;
                text-align: center;
                box-shadow: 5px 5px 3px #38586c48;
                padding-top: 10px;
            }
            
            #contact .info .element img{
                width: 18%;
            }
            #contact .info .element p{
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                font-size: 10px;
                color: #3D6B63;
            }
            #contact{
                padding-left: 5%;
                padding-right: 5%;
            }
            
            #contact .contatez{
                display: flex;
                width: 100%;
                padding-left: 5%;
                padding-right: 5%;
            }
            .contatez .map{
                width: 50%;
            }
            .contatez .map iframe{
                /* margin-right: 40px; */
                width: 100%;
                
            }
            #contact .contatez form{
                width: 45%;
                margin-right: 10%;
                display: flex;
                flex-direction: column;
            }
            
            #contact .contatez form input, textarea{
                margin-bottom: 25px;
                border-radius: 5px;
                border: 1px solid #3d6b635d;
            }
            #contact .contatez form label{
                font-size: 22px;
                color: #3D6B63;
            }
            #contact .contatez form input {
                height: 40px;
                border-radius: 5px;
            }
            #contact .contatez form button{
                font-size: 15px;
                
                width: 30%;
                height: 40px;
                border-radius: 10px;
                border: 1px solid #3d6b635d;
                background-color: #3D6B63;
            }
            
            #foot {
                display: flex;
                justify-content: space-between;
                background-color: #284F54;
                margin-bottom: 0;
                padding-left: 5%;
                padding-right: 5%;
                margin-top: 50px;
            }
            #foot p{
                
            }
            
            #foot .icons{
               display: flex;
               justify-content: space-between;
               align-items: center;
               
            }
            #foot .icons .twitter{
                width: 18px;
                margin-right: 30px;
                
            }
        }